advent-of-code-data==0.8.5
bandit==1.6.2
beautifulsoup4==4.9.3
certifi==2020.11.8
chardet==3.0.4
decorator==4.4.2
flake8==3.8.4
gitdb==4.0.5
GitPython==3.1.11
idna==2.10
mccabe==0.6.1
networkx==2.5
pbr==5.5.1
Pebble==4.5.3
pycodestyle==2.6.0
pyflakes==2.2.0
python-dateutil==2.8.1
PyYAML==5.3.1
requests==2.25.0
six==1.15.0
smmap==3.0.4
soupsieve==2.0.1
stevedore==3.3.0
termcolor==1.1.0
toml==0.10.2
urllib3==1.26.2
vulture==2.1
